body
{
	font-family:"Futura", Arial, sans-serif;
	background-color:#9CF;
	margin:0;
	padding:0 15%;
	text-align:center;
}

a
{
	text-decoration:none;
	color:#000;
}

a:hover
{
	color:#FFF;
	cursor:pointer;
}

img
{
	border:0;
}

ul
{
	list-style-type:none;
	padding:0;
	margin:0;
}

li
{
	margin-top:5px;
}

.tattooImage
{
	#border-radius:10%;
	width:375px;
	height:500px;
}

.navButton
{
	font-size:60px;
	border:0px;
	border-radius:20%;
	margin:0 30px;
	padding:0;
	width:70px;
}

.navButton:hover
{
	color:#0AA;
	cursor:pointer;
}

.navButton:enabled:active
{
	box-shadow:inset 0 0 50px #FFF;
}

.hidden
{
	display:none;
}

.expanded:hover
{
	color:#000;
	cursor:pointer;
}

.link
{
	text-decoration:none;
	color:#000;
}

.link:hover
{
	color:#FFF;
	cursor:pointer;
}

#Logo
{
	position:absolute;
	top:0px;
	left:0px;
	padding:10px;
	border-radius:0 0 20px 0;
	border-width:0 3px 3px 0;
	border-style:dashed;
	border-color:#000;
	background-color:#AAF;
	max-width:20%;
}

#Logo .title
{
	font-size:30px;
	font-style:oblique;
}

#Logo .subtitle
{
	font-size:12px;
}

#Archive
{
	position:absolute;
	top:0px;
	right:0px;
	padding:10px;
	border-radius:0 0 0 20px;
	border-width:0 0 3px 3px;
	border-style:dashed;
	border-color:#000;
	background-color:#AAF;
	max-width:15%;
	max-height:80%;
	overflow:auto;
}

#About
{
	position:fixed;
	bottom:0px;
	left:0px;
	padding:10px;
	border-radius:0 20px 0 0;
	border-width:3px 3px 0 0;
	border-style:dashed;
	border-color:#000;
	background-color:#AAF;
	max-width:20%;
}

#Share
{
	position:fixed;
	bottom:0px;
	right:0px;
	padding:10px;
	border-radius:20px 0 0 0;
	border-width:3px 0 0 3px;
	border-style:dashed;
	border-color:#000;
	background-color:#AAF;
}

#TattooTitle
{
	margin:30px 0 0 0;
	font-size:25px;
	font-variant:small-caps;
}

#TattooName
{
	margin:10px 0;
	font-size:20px;
}

#Container
{
	border:2px dashed #000;
	height:500px;
}

#Container #Loader
{
	font-size:40px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	line-height:500px;
}

#MainDisplay li
{
	display:inline-block;
	vertical-align:middle;
}